<div class="block-wrapper">
    <div *ngIf="block.count === 1">
        <div class="block single">
            <app-marker [color]="block.player.color"></app-marker>
        </div>
    </div>
    <div *ngIf="block.count === 2">
        <div class="block double">
            <app-marker [color]="block.player.color"></app-marker>
            <app-marker [color]="block.player.color"></app-marker>
        </div>
    </div>
    <div *ngIf="block.count === 3">
        <div class="block triple">
            <app-marker [color]="block.player.color"></app-marker>
            <app-marker [color]="block.player.color"></app-marker>
            <div class="center">
                <app-marker [color]="block.player.color"></app-marker>
            </div>
        </div>
    </div>
</div>
